In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

In [4]:
op= Optimus(verbose=True)

INFO:optimus:Just check that Spark and all necessary environments vars are present...
INFO:optimus:-----
INFO:optimus:SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
INFO:optimus:HADOOP_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
INFO:optimus:PYSPARK_PYTHON=C:\Users\argenisleon\Anaconda3\python.exe
INFO:optimus:PYSPARK_DRIVER_PYTHON=jupyter
INFO:optimus:PYSPARK_SUBMIT_ARGS=--conf "spark.sql.catalogImplementation=hive" pyspark-shell
INFO:optimus:JAVA_HOME=C:\java
INFO:optimus:Pyarrow Installed
INFO:optimus:-----
INFO:optimus:Starting or getting SparkSession and SparkContext...
INFO:optimus:Spark Version:2.3.1
INFO:optimus:
                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

INFO:optimus:Transform and Roll out...
INFO:optimus:Optimus successfully imported. Have fun :).

In [5]:
import pandas as pd
from pyspark.sql.types import *
from datetime import date, datetime

df = op.create.df(
    [
        "names", 
        "height(ft)", 
        "function", 
        "rank", 
        "age",
        "weight(t)",
        "japanese name",
        "last position seen",
        "date arrival",
        "last date seen",
        "attributes",
        "DateType",
        "Tiemstamp",
        "Cybertronian", 
        "function(binary)",
        "NullType",

    ],
    [
        ("Optim'us", 28, "Leader", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
         "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
         None),
        ("bumbl#ebéé  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10",
         "2015/08/10", [5.334, 2000.0], date(2015, 8, 10), datetime(2014, 6, 24), True, bytearray("Espionage", "utf-8"),
         None),
        ("ironhide&", 26, "Security", 7, 5000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10",
         "2014/07/10", [7.9248, 4000.0], date(2014, 6, 24), datetime(2014, 6, 24), True, bytearray("Security", "utf-8"),
         None),
        ("Jazz", 13, "First Lieutenant", 8, 5000000, 1.80, ["Meister"], "33.670666,-117.841553", "1980/04/10",
         "2013/06/10", [3.9624, 1800.0], date(2013, 6, 24), datetime(2014, 6, 24), True,
         bytearray("First Lieutenant", "utf-8"), None),
        ("Megatron", None, "None", 10, 5000000, 5.70, ["Megatron"], None, "1980/04/10", "2012/05/10", [None, 5700.0],
         date(2012, 5, 10), datetime(2014, 6, 24), True, bytearray("None", "utf-8"), None),
        ("Metroplex_)^$", 300, "Battle Station", 8, 5000000, None, ["Metroflex"], None, "1980/04/10", "2011/04/10",
         [91.44, None], date(2011, 4, 10), datetime(2014, 6, 24), True, bytearray("Battle Station", "utf-8"), None),

    ], infer_schema = True).h_repartition(1)
df.table()

In [74]:
df.cols.z_score("height(ft)","z_score").table()

INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function _z_score

In [105]:
df.cols.unnest("japanese name", output_cols = "temp").table()
df.cols.unnest("date arrival", separator = "/", output_cols = "fecha").table()

In [147]:
from pyspark.sql import functions as F

def func(col_name, attr):
    return F.upper(F.col(col_name))

df.cols.apply(input_cols="names", output_cols=None,func=func).table()
df.cols.apply(input_cols="names", output_cols="names_up",func=func).table()
df.cols.apply(input_cols=["names","function"], output_cols="_up",func=func).table()
df.cols.apply(input_cols=["names","function"], output_cols=["names_up","function_up"],func=func).table()

# df.cols.apply_expr(input_cols=["names","function"], output_cols=["names_up"],func=func).table()

# df.cols.apply(input_cols="names",output_cols="names_up",func=func).table()

INFO:optimus:Using 'column_exp' to process column 'names' with function func

INFO:optimus:Using 'column_exp' to process column 'names' with function func

INFO:optimus:Using 'column_exp' to process column 'names' with function func
INFO:optimus:Using 'column_exp' to process column 'function' with function func

INFO:optimus:Using 'column_exp' to process column 'names' with function func
INFO:optimus:Using 'column_exp' to process column 'function' with function func

In [148]:
from pyspark.sql import functions as F

# df.cols.lower(input_cols="names", output_cols="names_lower").table()
# df.cols.upper(input_cols="names", output_cols="names_upper").table()
# df.cols.trim(input_cols="names", output_cols="names_trim").table()
# df.cols.reverse(input_cols="names", output_cols="names_reverse").table()
# df.cols.remove_accents(input_cols="names", output_cols="names_remove_accents").table()
# df.cols.remove_special_chars(input_cols="names", output_cols="names_remove_specials_chars").table()

# df.cols.date_transform(input_cols="date arrival", output_cols="date_arrival_date_transform",current_format="yyyy/MM/dd", output_format = "dd-MM-YYYY").table()
# df.cols.years_between(input_cols="date arrival", output_cols="date_arrival_years_between", date_format="yyyy/MM/dd").table()

# df.cols.fill_na("height(ft)","new_height(ft)", value=2).table()
# df.cols.replace("height(ft)",output_cols = "new_height(ft)", search = 2 , replace_by=3).table()
df.cols.replace_regex('*','.*[Cc]at.*', 'cat_1').table()
# df.cols.apply_expr(input_cols=["names","function"], output_cols=["names_up"],func=func).table()

# df.cols.apply(input_cols="names",output_cols="names_up",func=func).table()

INFO:optimus:Using 'column_exp' to process column 'names' with function func_regex
INFO:optimus:Using 'column_exp' to process column 'height(ft)' with function func_regex
INFO:optimus:Using 'column_exp' to process column 'function' with function func_regex
INFO:optimus:Using 'column_exp' to process column 'rank' with function func_regex
INFO:optimus:Using 'column_exp' to process column 'age' with function func_regex
INFO:optimus:Using 'column_exp' to process column 'weight(t)' with function func_regex
INFO:optimus:Using 'column_exp' to process column 'japanese name' with function func_regex

AnalysisException: "cannot resolve 'regexp_replace(`japanese name`, '.*[Cc]at.*', 'cat_1')' due to data type mismatch: argument 1 requires string type, however, '`japanese name`' is of array<string> type.;;\n'Project [names#4550, height(ft)#4567, function#4584, rank#4601, age#4618, weight(t)#4635, regexp_replace(japanese name#6, .*[Cc]at.*, cat_1) AS japanese name#4652, last position seen#7, date arrival#8, last date seen#9, attributes#10, DateType#11, Tiemstamp#12, Cybertronian#13, function(binary)#14, NullType#15]\n+- AnalysisBarrier\n      +- Project [names#4550, height(ft)#4567, function#4584, rank#4601, age#4618, regexp_replace(cast(weight(t)#5 as string), .*[Cc]at.*, cat_1) AS weight(t)#4635, japanese name#6, last position seen#7, date arrival#8, last date seen#9, attributes#10, DateType#11, Tiemstamp#12, Cybertronian#13, function(binary)#14, NullType#15]\n         +- Project [names#4550, height(ft)#4567, function#4584, rank#4601, regexp_replace(cast(age#4 as string), .*[Cc]at.*, cat_1) AS age#4618, weight(t)#5, japanese name#6, last position seen#7, date arrival#8, last date seen#9, attributes#10, DateType#11, Tiemstamp#12, Cybertronian#13, function(binary)#14, NullType#15]\n            +- Project [names#4550, height(ft)#4567, function#4584, regexp_replace(cast(rank#3 as string), .*[Cc]at.*, cat_1) AS rank#4601, age#4, weight(t)#5, japanese name#6, last position seen#7, date arrival#8, last date seen#9, attributes#10, DateType#11, Tiemstamp#12, Cybertronian#13, function(binary)#14, NullType#15]\n               +- Project [names#4550, height(ft)#4567, regexp_replace(function#2, .*[Cc]at.*, cat_1) AS function#4584, rank#3, age#4, weight(t)#5, japanese name#6, last position seen#7, date arrival#8, last date seen#9, attributes#10, DateType#11, Tiemstamp#12, Cybertronian#13, function(binary)#14, NullType#15]\n                  +- Project [names#4550, regexp_replace(cast(height(ft)#1 as string), .*[Cc]at.*, cat_1) AS height(ft)#4567, function#2, rank#3, age#4, weight(t)#5, japanese name#6, last position seen#7, date arrival#8, last date seen#9, attributes#10, DateType#11, Tiemstamp#12, Cybertronian#13, function(binary)#14, NullType#15]\n                     +- Project [regexp_replace(names#0, .*[Cc]at.*, cat_1) AS names#4550, height(ft)#1, function#2, rank#3, age#4, weight(t)#5, japanese name#6, last position seen#7, date arrival#8, last date seen#9, attributes#10, DateType#11, Tiemstamp#12, Cybertronian#13, function(binary)#14, NullType#15]\n                        +- Repartition 1, true\n                           +- LogicalRDD [names#0, height(ft)#1, function#2, rank#3, age#4, weight(t)#5, japanese name#6, last position seen#7, date arrival#8, last date seen#9, attributes#10, DateType#11, Tiemstamp#12, Cybertronian#13, function(binary)#14, NullType#15], false\n"

In [ ]:
# df.table()

df.cols.cast("height(ft)", "str").table()
# df.cols.cast("height(ft)", output_cols="height(ft)_str", dtype="str").table()
# df.cols.cast(["height(ft)","rank"],dtype= "str").table()
# df.cols.cast(columns = [("height(ft)","height(ft)_str","str"),("rank","rank_float","float")]).table()
# df.cols.cast(columns = [("height(ft)","height(ft)_str","str"),("rank","rank_str","str")]).table()

In [11]:
df.table()

In [23]:
df.cols.min("DateType")

datetime.date(2011, 4, 10)

In [70]:
op.profiler.run(df,"names")

INFO:optimus:Processing column 'names'...

Including 'nan' as Null in processing 'names'

INFO:optimus:_count_data_types() executed in 6.83 sec
INFO:optimus:count_data_types() executed in 6.83 sec
INFO:optimus:Using 'column_exp' to process column 'names' with function cast_to
INFO:optimus:cast_columns() executed in 0.01 sec
INFO:optimus:_exprs() executed in 1.14 sec
INFO:optimus:general_stats() executed in 1.15 sec
INFO:optimus:------------------------------
INFO:optimus:Processing column 'names'...
INFO:optimus:frequency() executed in 1.2 sec
INFO:optimus:stats_by_column() executed in 0.0 sec
INFO:optimus:Using 'column_exp' to process column 'names_len' with function func_col_exp
INFO:optimus:Using 'column_exp' to process column 'names_len' with function _bucketizer
INFO:optimus:bucketizer() executed in 0.11 sec
INFO:optimus:hist() executed in 1.33 sec
INFO:optimus:hist_string() executed in 3.45 sec

Including 'nan' as Null in processing 'names'
Including 'nan' as Null in processing 'function'
Including 'nan' as Null in processing 'last position seen'
Including 'nan' as Null in processing 'date arrival'
Including 'nan' as Null in processing 'last date seen'

INFO:optimus:Using 'column_exp' to process column 'Cybertronian' with function cast_to

Including 'nan' as Null in processing 'Cybertronian'

INFO:optimus:dataset_info() executed in 7.18 sec

INFO:optimus:run() executed in 36.63 sec

In [31]:
 list(enumerate(buckets))

[(0, {'lower': 4, 'upper': 4.6923076923076925, 'bucket': 0}),
 (1, {'lower': 4.6923076923076925, 'upper': 5.384615384615385, 'bucket': 1}),
 (2, {'lower': 5.384615384615385, 'upper': 6.0769230769230775, 'bucket': 2}),
 (3, {'lower': 6.0769230769230775, 'upper': 6.76923076923077, 'bucket': 3}),
 (4, {'lower': 6.76923076923077, 'upper': 7.461538461538463, 'bucket': 4}),
 (5, {'lower': 7.461538461538463, 'upper': 8.153846153846155, 'bucket': 5}),
 (6, {'lower': 8.153846153846155, 'upper': 8.846153846153847, 'bucket': 6}),
 (7, {'lower': 8.846153846153847, 'upper': 9.538461538461538, 'bucket': 7}),
 (8, {'lower': 9.538461538461538, 'upper': 10.23076923076923, 'bucket': 8}),
 (9, {'lower': 10.23076923076923, 'upper': 10.923076923076922, 'bucket': 9}),
 (10,
  {'lower': 10.923076923076922, 'upper': 11.615384615384613, 'bucket': 10}),
 (11,
  {'lower': 11.615384615384613, 'upper': 12.307692307692305, 'bucket': 11}),
 (12, {'lower': 12.307692307692305, 'upper': 13, 'bucket': 12})]

In [ ]:
op.profiler.to_file("asdf")

In [149]:
assert(False)
print("asdafsd")

AssertionError:

In [ ]:
import altair as alt
import pandas as pd
data = pd.DataFrame({'x': [1, 2, 3], 'y': [2, 1, 2]})

chart = alt.Chart(data).mark_line().encode(
     x='x',
     y='y'
)

from pprint import pprint
pprint(chart.to_dict())

In [8]:
url = 'data.json'
data.to_json(url, orient='records')

chart = alt.Chart(url).mark_line().encode(
    x='x:Q',
    y='y:Q'
)
pprint(chart.to_dict())

{'$schema': 'https://vega.github.io/schema/vega-lite/v3.2.1.json',
 'config': {'mark': {'tooltip': None}, 'view': {'height': 300, 'width': 400}},
 'data': {'url': 'data.json'},
 'encoding': {'x': {'field': 'x', 'type': 'quantitative'},
              'y': {'field': 'y', 'type': 'quantitative'}},
 'mark': 'line'}

In [9]:
import pandas as pd
data = pd.DataFrame({'a': list('CCCDDDEEE'),
                     'b': [2, 7, 4, 1, 2, 6, 8, 4, 7]})

In [10]:
alt.renderers.enable('notebook')
alt.Chart(data).mark_point().encode(
    x='a',
    y='b'
)

ValueError:
To use the 'notebook' renderer, you must install the vega package
and the associated Jupyter extension.
See https://altair-viz.github.io/getting_started/installation.html
for more information.

In [14]:
!pip install altair
!pip install -U altair vega_datasets notebook vega

Requirement already satisfied: altair in c:\users\argenisleon\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: jinja2 in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (2.10)
Requirement already satisfied: pandas in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (0.23.4)
Requirement already satisfied: jsonschema in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (2.6.0)
Requirement already satisfied: six in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (1.12.0)
Requirement already satisfied: toolz in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (0.9.0)
Requirement already satisfied: entrypoints in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (0.2.3)
Requirement already satisfied: numpy in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (1.15.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\argenisleon\anaconda3\lib\site-packages (from jinja2->altair) (1.1.0)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\argenisleon\anaconda3\lib\site-packages (from pandas->altair) (2.7.5)
Requirement already satisfied: pytz>=2011k in c:\users\argenisleon\anaconda3\lib\site-packages (from pandas->altair) (2018.7)
Requirement already up-to-date: altair in c:\users\argenisleon\anaconda3\lib\site-packages (3.0.0)
Collecting vega_datasets
  Downloading https://files.pythonhosted.org/packages/0a/53/00c0d891e2da61442745aa5f6677e93b68ea247b49ed70a7da1dd764760f/vega_datasets-0.7.0-py2.py3-none-any.whl (209kB)
Collecting notebook
  Downloading https://files.pythonhosted.org/packages/f6/36/89ebfffc9dd8c8dbd81c1ffb53e3d4233ee666414c143959477cb07cc5f5/notebook-5.7.8-py2.py3-none-any.whl (9.0MB)
Collecting vega
  Downloading https://files.pythonhosted.org/packages/58/7a/c86f80cf92e0cc7ec6dd75baf26580632d2f4a7d7b7d4650683321d52d92/vega-2.1.0.tar.gz (1.2MB)
Requirement already satisfied, skipping upgrade: six in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (1.12.0)
Requirement already satisfied, skipping upgrade: jsonschema in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (2.6.0)
Requirement already satisfied, skipping upgrade: pandas in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (0.23.4)
Requirement already satisfied, skipping upgrade: toolz in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (0.9.0)
Requirement already satisfied, skipping upgrade: numpy in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (1.15.2)
Requirement already satisfied, skipping upgrade: entrypoints in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (0.2.3)
Requirement already satisfied, skipping upgrade: jinja2 in c:\users\argenisleon\anaconda3\lib\site-packages (from altair) (2.10)
Requirement already satisfied, skipping upgrade: nbconvert in c:\users\argenisleon\anaconda3\lib\site-packages (from notebook) (5.4.0)
Requirement already satisfied, skipping upgrade: tornado<7,>=4.1 in c:\users\argenisleon\anaconda3\lib\site-packages (from notebook) (5.1.1)
Requirement already satisfied, skipping upgrade: jupyter-core>=4.4.0 in c:\users\argenisleon\anaconda3\lib\site-packages (from notebook) (4.4.0)
Requirement already satisfied, skipping upgrade: Send2Trash in c:\users\argenisleon\anaconda3\lib\site-packages (from notebook) (1.5.0)
Requirement already satisfied, skipping upgrade: traitlets>=4.2.1 in c:\users\argenisleon\anaconda3\lib\site-packages (from notebook) (4.3.2)
Requirement already satisfied, skipping upgrade: nbformat in c:\users\argenisleon\anaconda3\lib\site-packages (from notebook) (4.4.0)
Requirement already satisfied, skipping upgrade: terminado>=0.8.1 in c:\users\argenisleon\anaconda3\lib\site-packages (from notebook) (0.8.1)
Requirement already satisfied, skipping upgrade: ipython-genutils in c:\users\argenisleon\anaconda3\lib\site-packages (from notebook) (0.2.0)
Requirement already satisfied, skipping upgrade: pyzmq>=17 in c:\users\argenisleon\anaconda3\lib\site-packages (from notebook) (17.1.2)
Requirement already satisfied, skipping upgrade: jupyter-client>=5.2.0 in c:\users\argenisleon\anaconda3\lib\site-packages (from notebook) (5.2.4)
Requirement already satisfied, skipping upgrade: prometheus-client in c:\users\argenisleon\anaconda3\lib\site-packages (from notebook) (0.5.0)
Requirement already satisfied, skipping upgrade: ipykernel in c:\users\argenisleon\anaconda3\lib\site-packages (from notebook) (5.1.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in c:\users\argenisleon\anaconda3\lib\site-packages (from pandas->altair) (2.7.5)
Requirement already satisfied, skipping upgrade: pytz>=2011k in c:\users\argenisleon\anaconda3\lib\site-packages (from pandas->altair) (2018.7)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in c:\users\argenisleon\anaconda3\lib\site-packages (from jinja2->altair) (1.1.0)
Requirement already satisfied, skipping upgrade: mistune>=0.8.1 in c:\users\argenisleon\anaconda3\lib\site-packages (from nbconvert->notebook) (0.8.4)
Requirement already satisfied, skipping upgrade: pygments in c:\users\argenisleon\anaconda3\lib\site-packages (from nbconvert->notebook) (2.3.1)
Requirement already satisfied, skipping upgrade: bleach in c:\users\argenisleon\anaconda3\lib\site-packages (from nbconvert->notebook) (3.0.2)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in c:\users\argenisleon\anaconda3\lib\site-packages (from nbconvert->notebook) (1.4.2)
Requirement already satisfied, skipping upgrade: testpath in c:\users\argenisleon\anaconda3\lib\site-packages (from nbconvert->notebook) (0.4.2)
Requirement already satisfied, skipping upgrade: defusedxml in c:\users\argenisleon\anaconda3\lib\site-packages (from nbconvert->notebook) (0.5.0)
Requirement already satisfied, skipping upgrade: decorator in c:\users\argenisleon\anaconda3\lib\site-packages (from traitlets>=4.2.1->notebook) (4.3.0)
Requirement already satisfied, skipping upgrade: ipython>=5.0.0 in c:\users\argenisleon\anaconda3\lib\site-packages (from ipykernel->notebook) (7.2.0)
Requirement already satisfied, skipping upgrade: webencodings in c:\users\argenisleon\anaconda3\lib\site-packages (from bleach->nbconvert->notebook) (0.5.1)
Requirement already satisfied, skipping upgrade: setuptools>=18.5 in c:\users\argenisleon\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook) (40.6.3)
Requirement already satisfied, skipping upgrade: backcall in c:\users\argenisleon\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook) (0.1.0)
Requirement already satisfied, skipping upgrade: colorama; sys_platform == "win32" in c:\users\argenisleon\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook) (0.4.1)
Requirement already satisfied, skipping upgrade: jedi>=0.10 in c:\users\argenisleon\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook) (0.13.2)
Requirement already satisfied, skipping upgrade: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\argenisleon\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook) (2.0.7)
Requirement already satisfied, skipping upgrade: pickleshare in c:\users\argenisleon\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook) (0.7.5)
Requirement already satisfied, skipping upgrade: parso>=0.3.0 in c:\users\argenisleon\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->notebook) (0.3.1)
Requirement already satisfied, skipping upgrade: wcwidth in c:\users\argenisleon\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->notebook) (0.1.7)
Building wheels for collected packages: vega
  Running setup.py bdist_wheel for vega: started
  Running setup.py bdist_wheel for vega: finished with status 'done'
  Stored in directory: C:\Users\argenisleon\AppData\Local\pip\Cache\wheels\34\63\c7\9995bff8bf741e0678564aa9ca97fb36e901a9768e913de708
Successfully built vega
Installing collected packages: vega-datasets, notebook, vega
  Found existing installation: notebook 5.7.4
    Uninstalling notebook-5.7.4:
      Successfully uninstalled notebook-5.7.4

Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'C:\\Users\\ARGENI~1\\AppData\\Local\\Temp\\pip-uninstall-1y43x7fp\\users\\argenisleon\\anaconda3\\scripts\\jupyter-notebook.exe'
Consider using the `--user` option or check the permissions.